@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;700&display=swap');

:root {
  --sidebar-width: 10rem;
  --main-header-size: 10rem;
  --footer-height: 3rem;
  --logo-scale: 1;
  --color-main: #333;
  --color-bg: #ddd;
  --color-emphasis: #377;
  --hoverable-button-size: 4rem;
}

body {
  color: var(--color-main);
  background-color: var(--color-bg);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Advent Pro', sans-serif;
}

#tutorial {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-bg);
  transition: all 0.3s;
}

#tutorial button > * {
  font-size: 1.6rem;
  pointer-events: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  align-items: flex-end;
  overflow-x: hidden;
}

main {
  width: calc(100vw  - var(--sidebar-width));
}

main.small, main.extra-small {
  width: 100vw;
}

main > section {
  height: calc(100vh - var(--footer-height));
  width: 100%;
}

#sidebar {
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: var(--color-bg);
  height: var(--sidebar-width);
  width: var(--sidebar-width);
  z-index: 1;
}

#sidebar > nav {
  height: 50%;
  width: 100%;
}

#sidebar > .hoverable-button {
  position: absolute;
  top: var(--sidebar-width);
  left: var(--sidebar-width);
  transform: translate(-50%, -50%);
}

#sidebar.active {
  justify-content: center;
  border-radius: 0;
  border-right: 0.2rem solid var(--color-main);
  height: 100vh;
}

#sidebar > nav > ul {
  list-style: none;
  height: 100%;
}

#sidebar > nav > ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--hoverable-button-size);
  text-decoration: none;
  color: var(--color-main);
  font-size: 2rem;
}

#sidebar > nav > ul li {
  position: relative;
  width: 100%;
  transition: all 0.2s;
} 

#sidebar > nav > ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  width: 0%;
  margin-left: 50%;
  background-color: var(--color-emphasis);
  transition: all 0.2s;
} 

#sidebar > nav > ul li:hover {
  width: 100%;
} 

#sidebar > nav > ul li:hover::after {
  width: 100%;
  margin-left: 0%;
} 

#sidebar.medium a {
  font-size: 1.6rem;
}

.logo {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.logo::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #666;
  border-top-right-radius: calc(1.6rem / 3);
  border-bottom-left-radius: calc(1.6rem / 3);
  box-shadow: 
    0.2rem -0.2rem 0 0.1rem #488,
    0.4rem -0.4rem 0 0.2rem #366,
    0.6rem -0.6rem 0 0.3rem #333;
  transform: translate(-75%, -50%) rotate(45deg) scale(var(--logo-scale));
  transition: box-shadow 0.3s, transform 0.3s, border-radius 0.3s;
}

.logo.active::after {
  box-shadow: 
  0.3rem -0.3rem 0 0.1rem #488,
  0.7rem -0.7rem 0 0.2rem #366,
  1rem -1rem 0 0.3rem #333;
  transform: translate(-100%, -50%) rotate(45deg) scale(var(--logo-scale));
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--footer-height);
  width: 100%;
  border-top: 0.1rem solid var(--color-main);
}

#home {
  justify-content: flex-start;
}

#home-title {
  font-size: var(--main-header-size);
  overflow-y: hidden;
  width: 10ch;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  transition: all 0.2s;
}

#home-title.large {
  text-indent: calc(-1 * var(--main-header-size));
  transform: translate(calc(var(--main-header-size) / 2), 0);
}

#home-title > * {
  display: inline-block;
}

#home > p {
  text-align: center;
  margin-top: 4rem;
  font-size: 2.6rem;
  width: 80%;
  max-width: 40ch;
}

#home > p.small, #home > p.extra-small {
  font-size: 2rem;
  margin: 0;
}

#home-buttons {
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  max-width: 1000px;
}

#home .hoverable-button {
  font-size: 1.6rem;
}

#home.large .hoverable-button {
  font-size: 2rem;
}

#projects {
  --title-height: 5rem;
  --projects: 2;
}

#projects > h2 {
  font-size: 3rem;
  margin: 1rem 0;
}

.project-container {
  justify-content: space-between;
  width: 100%;
  height: calc((100vh - var(--title-height) - var(--footer-height)) / var(--projects));
}

.project-container > * {
  width: 100%;
  text-align: center;
}

.project-container > *:last-child {
  margin-right: 2rem;
}

.project-container > h3 {
  font-size: 4rem;
}

.project-container > p {
  font-size: 2rem;
}

.hoverable-button {
  position: relative;
  height: var(--hoverable-button-size);
  width: var(--hoverable-button-size);
  border: none;
  outline: none;
  background-color: var(--color-bg);
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem var(--color-main);
  transition: all 0.6s;
  z-index: 13;
}

.hoverable-button.small {
  transform: scale(0.8);
}

.hoverable-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-main);
  text-decoration: none;
  margin-top: auto;
  width: var(--hoverable-button-size);
  height: var(--hoverable-button-size);
}

.hoverable-button.active {
  box-shadow: 
    0 0 0.2rem 0.3rem var(--color-main),
    0 0 0rem 0.4rem var(--color-bg),
    0 0 0rem 0.6rem var(--color-emphasis);
}

.hoverable-button-decoration {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  pointer-events: none;
}

.hoverable-button-decoration::after {
  content: '';
  position: absolute;
  bottom: 75%;
  left: 75%;
  background-color: var(--color-main);
  height: calc(var(--hoverable-button-size) / 6);
  width: calc(var(--hoverable-button-size) / 6);
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  box-shadow: 
    0rem 0rem 0 0rem #555,
    0rem 0rem 0 0rem #444,
    0rem 0rem 0 0rem #333,
    0rem 0rem 0 0.2rem var(--color-bg);
  transition: bottom 0.4s, left 0.4s, box-shadow 0.4s, background-color 0.4s;
}

.hoverable-button-decoration::before {
  content: '';
  position: absolute;
  top: 75%;
  right: 75%;
  background-color: var(--color-main);
  height: calc(var(--hoverable-button-size) / 6);
  width: calc(var(--hoverable-button-size) / 6);
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  box-shadow: 
    0rem 0rem 0 0rem #555,
    0rem 0rem 0 0rem #444,
    0rem 0rem 0 0rem #333,
    0rem 0rem 0 0.2rem var(--color-bg);
  transition: top 0.4s, right 0.4s, box-shadow 0.4s, background-color 0.4s;
}

.hoverable-button-decoration.active::after {
  bottom: 100%;
  left: 100%;
  background-color: #666;
  box-shadow: 
    -0.2rem 0.2rem 0 0rem #488,
    -0.4rem 0.4rem 0 0.1rem #366,
    -0.6rem 0.6rem 0 0.2rem #333,
    -0.8rem 0.8rem 0 0.2rem var(--color-bg);
}

.hoverable-button-decoration.active::before {
  top: 100%;
  right: 100%;
  background-color: #666;
  box-shadow: 
    0.2rem -0.2rem 0 0rem #488,
    0.4rem -0.4rem 0 0.1rem #366,
    0.6rem -0.6rem 0 0.2rem #333,
    0.8rem -0.8rem 0 0.2rem var(--color-bg);
}

#cursor {
  position: absolute;
  top: -100%;
  left: -100%;
  border-radius: 50%;
  background-color: transparent;
  height: calc(var(--hoverable-button-size) / 2);
  width: calc(var(--hoverable-button-size) / 2);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0rem 0.2rem #fff;
  opacity: 0.4;
  /* mix-blend-mode: difference; */
  z-index: 10;
  pointer-events: none;
  transition: box-shadow 0.4s 0.2s, background-color 0.2s;
}

#cursor.focused {
  box-shadow: 0 0 0rem 0.2rem #277;
  transform: translate(0 , 0) scale(1.4);
}

/* ANIMATIONS */

.rotate {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

/* TEXT-ANIMATIONS */

.emphasised-text {
  color: var(--color-emphasis);
}

.animated-text.characters {
  opacity: 0;
  animation: characters 0.2s forwards;
  transition: text-shadow 0.2s;
}

@keyframes characters {
  to {
    opacity: 1;
  }
}

.animated-text.words {
  display: inline-block;
  transform: translate(0%, 100%);
  animation: words 1s 2s forwards;
}

@keyframes words {
  to {
    transform: translate(0, 0);
  }
}
